<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Ben Aissa's Autoverleih</h1>
    </header>
    <main>
        <h2>Formular</h2>
        <form id="rentalForm">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <br>
            <label for="email">E-Mail:</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <br>
            <label for="start_date">Startdatum:</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required onchange="updateAvailableCars()">
            <br>
            <label for="end_date">Enddatum:</label>
            <input type="date" class="form-control" id="end_date" name="end_date" required onchange="updateAvailableCars()">
            <br>
            <label for="car_name">Verfügbare Fahrzeugmodelle:</label>
            <select class="form-control" id="car_name" name="car_name" onchange="showCarImage()">
            </select>
            <br>
            <img id="carImage" src="" style="display:none; width: 100%; margin-top: 10px;" alt="Car Image">
            <br>
            <button type="submit">Absenden</button>
        </form>
        <br>
        <section id="carInfo">
            <h2>Informationen zu unseren Autos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Modell</th>
                        <th>Preis pro Tag</th>
                        <th>PS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Burgermobil</td>
                        <td>500€</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Golf 4</td>
                        <td>40€</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>Audi A4</td>
                        <td>60€</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td>BMW 3</td>
                        <td>70€</td>
                        <td>180</td>
                    </tr>
                    <tr>
                        <td>Mercedes C</td>
                        <td>80€</td>
                        <td>200</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="contact">
            <h2>Kontakt</h2>
            <p>Ben Aissa Autoverleih GmbH</p>
            <p>Wallstraße 7, 38100 Braunschweig</p>
            <a>info@benaissa-autoverleih.de</a>
        </section>


        <h2> Unser Standort auf der Streetmap! </h2>
        <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=10.515%2C52.258%2C10.535%2C52.268&amp;layer=mapnik&amp;marker=52.25981701179856%2C10.52087686252092"
            style="border: 1px solid black"></iframe>
        <br>
        <small><a href="https://www.openstreetmap.org/?mlat=52.25981701179856&mlon=10.52087686252092#map=16/52.2598/10.5209">Größere Karte anzeigen</a></small>

        <br>
        <br>
        <a href="{{ url_for('admin') }}"> Admin-Site </a> <br>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        function showCarImage() {
            var model = document.getElementById('car_name').value;
            var image = document.getElementById('carImage');

            // Set default to hide the image
            image.style.display = 'none';

            switch (model) {
                case 'Burgermobil':
                    image.src = '{{ url_for("static", filename="car1.jpeg") }}';
                    image.style.display = 'block';
                    break;
                case 'Golf 4':
                    image.src = '{{ url_for("static", filename="golf4.jpeg") }}';
                    image.style.display = 'block';
                    break;
                case 'Audi A4':
                    image.src = '{{ url_for("static", filename="audia4.png") }}';
                    image.style.display = 'block';
                    break;
                case 'BMW 3':
                    image.src = '{{ url_for("static", filename="bmw3.jpeg") }}';
                    image.style.display = 'block';
                    break;
                case 'Mercedes C':
                    image.src = '{{ url_for("static", filename="mercedesc.webp") }}';
                    image.style.display = 'block';
                    break;
                default:
                    image.style.display = 'none';
                    break;
            }
        }
    </script>
</body>
</html>